<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Ensamblaje">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Ensamblaje urdf file -->
    <xacro:include filename="$(find lego)/urdf/Ensamblaje.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="Ensamblaje.ros2_control.xacro" />


    <xacro:Ensamblaje_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
